<%= javascript_include_tag('boostrap-modal.js') %>
<%= javascript_include_tag('boostrap.js') %>

<%= render 'layouts/sidemenu' %>

 <div class="page-main">
  <div>
	  <section class="header">
	    <h1>Hello, <strong><%= current_user.profile.first_name %></strong>!</h1>
	      <p>Welcome to the RadiCalc homepage. Here you can see which topics you are currently subscribed to and which you have been invited to join.</p>
    </section>

    <section class="awaiting">
      <h2>Awaiting Confirmation</h2>
      <div class="container">
        <div class="row">

          <div class="col-xs-8">
            <p>You have been invited to subscribe to the following topics</p>
          </div>

          <div class="col-xs-4">
            <button class="btn btn-primary newsubscribe" href="#test_modal" data-toggle="modal">+ Subscribe to New Topic</button>
		      </div>
	      </div>
	    </div>

	    <div class="modal fade" id="test_modal">
		    <div class="modal-body">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h2>Subscribe To A New Topic</h2>
            <body>
        	    <div id="tfheader">
                <form id="tfnewsearch" method="get" action="http://www.google.com">
                  <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="Search" class="tfbutton">
                </form>
                <div class="tfclear"></div>
              </div>
            </body>
          </div>

  
          <div class="modal-content">
            <div class="container">
    	        
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Compilers</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>
                
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Models Of Computation</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>
                              
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Logic</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>       
                       
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Maths Methods</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>               
               
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Architecture</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>                
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div
                ><div class="col-md-4 ">  
                  <h3>Operations Research</h3>
                </div>
                <div class="col-md-4 vcenter"> 
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>                
                
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Databases</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>
                              
    	        <div class="row">
      	        <div class="col-md-4 vcenter">
                  <div class="ch-item-popup"><%= image_tag('topic.png', class: 'img-circle ch-img', style: 'height:50px;width:50px') %></div>
                </div>
                <div class="col-md-4 ">  
                  <h3>Programming 1</h3>
                </div>
                <div class="col-md-4 vcenter">  
                  <button class="btn btn-default">Subscribe</button>
                </div>
              </div>
          	  </ul> 
            </div>  
          </div>
  
          <div class="modal-footer">
            <a class="underline-link" class="btn" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>

	    <ul class="ch-grid">
	      <li>
          <h3>Compilers</h3>

	        <div class="ch-item">
            <%= image_tag('topic.png', class: 'img-circle ch-img') %>
	          <div class="ch-info-wrap">
	            <div class="ch-info">
                <div class="ch-info-front"></div>
                <div class="ch-info-back">
	                <h3><a class="underline-link">View Course Page</a></h3>
                </div>	
              </div>
	          </div>
	        </div>

          <button class="btn btn-default">Subscribe</button>
	      </li>
	      
	      <li>
          <h3>Models of Computation</h3>      
	        <div class="ch-item">
            <%= image_tag('topic.png', class: 'img-circle ch-img') %>
	          <div class="ch-info-wrap">
	            <div class="ch-info">
                <div class="ch-info-front"></div>
                <div class="ch-info-back">
	                <h3>
                    <a class="underline-link">View Course Page</a>
	                </h3>
                </div>	
              </div>
	          </div>
	        </div>
          <button class="btn btn-default">Subscribe</button>
	      </li>

	    </ul>
    </section>			

	  <section class="mytopics">
      <h2>My Topics</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <p>A list of your most poular topics</p>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-primary newsubscribe" href="#test_modal" data-toggle="modal">+ Subscribe to New Topic</button>
	        </div>
	      </div>
	    </div>
			
	  <ul class="ch-grid">
      <%= render 'subjects/index' %>
        <li>
          <h3>DoC</h3>
          <div class="ch-item"><%= image_tag('doc.png', class: 'img-circle ch-img') %>  
            <div class="ch-info-wrap">
              <div class="ch-info">
                <div class="ch-info-front"></div>
                <div class="ch-info-back">
                  <h3><a class="underline-link">View Course Page</a></h3>
                </div>  
              </div>
            </div>
          </div>
          <%= link_to 'Go to Question Feed', '', class: "btn btn-default" %>
        </li>
        
        <li>
          <h3>Intro to AI</h3>
          <div class="ch-item"><%= image_tag('topic.png', class: 'img-circle ch-img') %>  
            <div class="ch-info-wrap">
              <div class="ch-info">
                <div class="ch-info-front"></div>
                <div class="ch-info-back">
                  <h3><a class="underline-link">View Course Page</a></h3>
                </div>  
              </div>
            </div>
          </div>
          <%= link_to 'Go to Question Feed', '', class: "btn btn-default" %>
        </li>
  	  </ul>
    </section>
  </div>
</div>
