<div class="page-main">

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @score.user_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @score.test_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @score.value %>
</p>

<%= link_to 'Edit', edit_score_path(@score), :class => "btn btn-primary" %>
<br><br>
<%= link_to 'Back', scores_path, :class =>"btn btn-defualt" %>

</div>

<%= render 'layouts/sidemenu' %>
