<div class="page-main">
  
  <section class="header">  
	  <h2>Create new question!</h2>
  </section>

	<%= form_for @question, url: create_question_path(kind: @kind) do |f| %>
	  <% if @question.errors.any? %>
	    <div id="error_explanation" class="alert alert-danger">
	      <span class="glyphicon glyphicon-exclamation-sign"></span>
              <span><strong><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</strong>

	      <ul>
	        <% @question.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
	        <% end %>
	      </ul>
              </span>
	    </div>
	  <% end %>

	  <div class="form-entry">
      <p class="mini-p">
	      <%= f.label :title %><br>
	      <%= f.text_field :title %>
      </p>
	  </div>

	  <div class="actions">
	    <p><%= f.submit %></p>
	  </div>

	<% end %>

  <br/> <br/>
	<%= link_to 'Back', :back, :class => "btn btn-default" %>
</div>

<%= render 'layouts/sidemenu' %>
