<div class="page-main">

<h1><%= @test_question.title %></h1>

<p>
  <strong>Kind:</strong>
  <%= @test_question.kind %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_question.status %>
</p>


<iframe src= <%= @uri %> width=770 height=900></iframe><br>

<%= link_to 'Back', show_test_path, :class => "btn btn-default" %>

</div>

<%= render 'layouts/sidemenu' %>
