<div class="page-main">

<h2><%= @test.title %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Kind</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |test_question| %>
      <tr>
        <td><%= link_to test_question.title, show_test_question_path(question_id: test_question.id) %></td>
        <td><%= test_question.kind %></td>
        <td><%= test_question.user.email %></td>
        <td><%= link_to 'Destroy', delete_test_question_path(question_id: test_question.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @subject.updatable_by?(current_user) %>
    <%= render 'test_questions/new' %>
    <br><br>
    <%= link_to 'Download Answer', answers_path(test_id:@test.id), :class => "btn btn-primary" %>
    <%= link_to 'Upload Solution', show_solution_path(test_id:@test.id), :class => "btn btn-primary" %>
<% end %>
<% if @subject.examinable_by?(current_user) %>
    <%= link_to 'Upload Answer', show_answer_path(test_id:@test.id), :class => "btn btn-primary" %>
<% end %>
<% if @subject.examinable_by?(current_user) or @subject.updatable_by?(current_user) %>
  <%= link_to 'Download Solution', solutions_path(test_id:@test.id), :class => "btn btn-primary" %>
<% end %>

<br><br>
<%= link_to 'Back', tests_path, :class => "btn btn-default" %>

</div>



<%= render 'layouts/sidemenu' %>
