<div class="page-main">
  <section class="header">
    <h2>
      <% @subject.get_ancestors.each do |s| %>
        <% if s == @subject.get_ancestors.last %>
          <%= link_to s.name, show_subject_path(s) %>
        <% else %>
          <%= link_to s.name, show_subject_path(s) %> -----
        <% end %>
      <% end %>
    </h2>
  </section>

  <section class="profile-section">
    <div class="container profile-block">
      <div class="row">
        <div class="col-xs-6" id="profile-block-left">
          <%= image_tag('topic.png', class: 'img-circle', id: 'profilepic') %>
          <br/>
          <%= link_to 'Edit Topic', edit_subject_path(@subject), :class => "btn btn-primary" %>
        </div>
        </br></br></br>

        <div class="col-xs-6">
          <p>
            <strong>Topic Name:</strong>
            <%= @subject.name %>
          </p>

          <p>
            <strong>User:</strong>
            <%= @subject.user.email %>
          </p>

          <br/>

          <%= link_to 'Go To Questions', questions_path(kind: 'General'), :class => "btn btn-default" %>

        </div>
      </div>
    </div>
  </section>

  <br/>
  <section class="whatever">
    <p class="mini-p">
      <strong>Description:</strong>
      <%= @subject.body %>
    </p>

    <% if @subject.parent != nil %>
      <p>
        <strong>Parent Topic:</strong>
        <%= link_to @subject.parent.name, show_subject_path(@subject.parent.id) %>
      </p>
    <% end %>

    <% if @subject.children.count > 0 %>
      <p>
        <strong>Subtopics:</strong>
        <% @subject.children.each do |child| %>
        <p> <%= link_to child.name, show_subject_path(child.id) %> </p>
      <% end %>
      </p>
    <% end %>
  </section>
  <br/>

  <p>
    <%= link_to 'New Subject', new_subject_path(@subject.id) %><br>
    <%= link_to 'Questions', questions_path(kind: 'General') %>
  </p>


  <p class="mini-p">
    <%= link_to 'Back', dashboard_path, :class => "btn btn-default" %>
  </p>
</div>

<%= render 'layouts/sidemenu' %>