
<% if current_user.can_update?(@subject) %>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <%= "This is a #{@subject.debate_type} node" %>
</p>

<p>
  <strong>Body:</strong>
  <%= @subject.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @subject.author.email %>
</p>

<% if @subject.parent != nil %>
  <p>
    <strong>Parent:</strong>
    <%= link_to @subject.parent.name, show_subject_path(@subject.parent.id) %>
  </p>
<% end %>

<% if @subject.children.count > 0 %>
<p>
  <strong>Children:</strong>
  <% @subject.children.each do|child| %>
      <p>
        <%= link_to child.name, show_subject_path(child.id) %>
      </p>
  <% end %>
</p>

<% end %>

<p>

<%= link_to 'New Subject', new_subject_path(@subject.id) %><br>
<%= link_to 'Questions', questions_path(kind: 'General') %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', dashboard_path %><br>

<% else %>

<p>
  <strong>You do not have permission to see this page.</strong>
</p>

<% end %>