<%= javascript_include_tag('boostrap-modal.js') %>
<%= javascript_include_tag('boostrap.js') %>

<%= render 'layouts/sidemenu' %>
<DIV class="page-main">
            
  <section class="header">
    <h2>Profile Page</h1>
  </section>
    
  <section class="profile-section">
    <div class="container profile-block">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle"  id="profilepic" src="images/user.jpg"></img><br/>
          <button class="btn btn-primary" id="send-message">Send message</button>
        </div>
        <div class="col-xs-8">
          <h3>John Smith</h3>
          <p><strong>College: </strong>Imperial College London<br/>
          <strong>Department: </strong>Computing<br/>
        </div>
      </div>
    </div>
      
    <div class="profile-block">
      <h2>Subscriptions</h2>
      	<ul class="ch-grid">
	        <li>
            <h3>Imperial College</h3>
	            <div class="ch-item"><%= image_tag('Imperial-College-London-Shield.gif', class: 'img-circle ch-img') %>"	
	              <div class="ch-info-wrap">
	                <div class="ch-info">
                    <div class="ch-info-front"></div>
                    <div class="ch-info-back">
	                    <h3><a href="#">View Course Page</a></h3>
                    </div>	
                  </div>
	              </div>
	            </div>
            <button class="btn btn-default">Go to Question Feed</button>
	        </li>

	  	    <li>
            <h3>DoC</h3>
	            <div class="ch-item"><%= image_tag('doc.png', class: 'img-circle ch-img') %>	
	              <div class="ch-info-wrap">
	                <div class="ch-info">
                    <div class="ch-info-front"></div>
                    <div class="ch-info-back">
	                    <h3><a href="#">View Course Page</a></h3>
                    </div>	
                  </div>
	              </div>
	            </div>
            <button class="btn btn-default">Go To Question Feed</button>
	        </li>
	  	  
	  	    <li>
            <h3>Intro to AI</h3>
	            <div class="ch-item"><%= image_tag('topic.png', class: 'img-circle ch-img') %>	
	              <div class="ch-info-wrap">
	                <div class="ch-info">
                    <div class="ch-info-front"></div>
                    <div class="ch-info-back">
	                    <h3><a href="#">View Course Page</a></h3>
                    </div>	
                  </div>
	              </div>
	            </div>
            <button class="btn btn-default">Go To Question Feed</button>
	        </li>
	  	  
	  	    <li>
            <h3>Other Topic</h3>
	            <div class="ch-item"><%= image_tag('topic.png', class: 'img-circle ch-img') %>	
	              <div class="ch-info-wrap">
	                <div class="ch-info">
                    <div class="ch-info-front"></div>
                    <div class="ch-info-back">
	                    <h3><a href="#">View Course Page</a></h3>
                    </div>	
                  </div>
	              </div>
	            </div>
            <button class="btn btn-default">Go To Question Feed</button>
	        </li>

	  	    <li>
            <h3>Other Topic</h3>
	            <div class="ch-item"><%= image_tag('topic.png', class: 'img-circle ch-img') %>	
	              <div class="ch-info-wrap">
	                <div class="ch-info">
                    <div class="ch-info-front"></div>
                    <div class="ch-info-back">
	                    <h3><a href="#">View Course Page</a></h3>
                    </div>	
                  </div>
	              </div>
	            </div>
            <button class="btn btn-default">Go To Question Feed</button>
	        </li>
	        
	  	    <li>
            <h3>Other Topic</h3>
	            <div class="ch-item"><%= image_tag('topic.png', class: 'img-circle ch-img') %>	
	              <div class="ch-info-wrap">
	                <div class="ch-info">
                    <div class="ch-info-front"></div>
                    <div class="ch-info-back">
	                    <h3><a href="#">View Course Page</a></h3>
                    </div>	
                  </div>
	              </div>
	            </div>
            <button class="btn btn-default">Go To Question Feed</button>
	        </li>

	      </ul>
    </div>
      
    <div class="profile-block">
      <h2>Proficiencies</h2>
    </div>
      
    <div class="profile-block">
      <h2>Contacts</h2>
        <p>You currently have no contacts</p>
    </div>
      
  </section>
</DIV>
    
<script>  
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),

  showLeftPush = document.getElementById( 'showLeftPush' ),
  body = document.body;
    
  classie.add( showLeftPush, 'active' );
  classie.add( body, 'cbp-spmenu-push-toright' );
  classie.add( menuLeft, 'cbp-spmenu-open' );
  
  showLeftPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
  };
</script>
