<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
<button class="btn btn-lg" id="showLeftPush"><span id="menuIcon" class="glyphicon glyphicon-circle-arrow-left"></span></button>

  <div id="my-profile">
    
    <%= link_to "#{image_tag(current_user.profile.photo.display, id: 'my-profile-pic', class: 'img-circle')}".html_safe, profile_path%>
    
    <%= link_to current_user.profile.name, profile_path, :class=> 'profile-name' %>
  </div>

  <div class = "menu-link">
    <span class="glyphicon glyphicon-th"></span>
    <%= link_to 'My Topics', dashboard_path, :relative => true, :method => :get %>
  </div>
  <div class = "menu-link">
    <span class="glyphicon glyphicon-plus"></span>
    <%= link_to 'Add a New Topic', new_root_subject_path %>
  </div>
  <div class = "menu-link">
    <span class="glyphicon glyphicon-envelope"></span>
    Mailbox
  </div>

<button class="btn btn-default" id="logoutbtn">
  <%=link_to 'Log out', destroy_user_session_path, :method => :delete, id: 'logout' %>
    <span class="glyphicon glyphicon-log-out"></span>
</button>


</nav>



